

  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Fasthand&family=Poppins:ital,wght@0,300;0,500;0,600;1,500&family=Source+Code+Pro:ital,wght@0,400;1,300&family=Source+Sans+3:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
body{
    width: 100%;
    height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(photo.jpg) no-repeat  center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}
.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
}
.left{
    height: 100%;
    background: url(photo.jpg) no-repeat center;
    background-size: cover;
}
.right{
    padding: 25px 40px;

}
h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px; 
    border-color: #2e2e2e;
}
.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230, 230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0,0,0,0.1);
}
.field:focus{
    background-color: #fff;
    border: #2e2e2e;
}
.area{
    min-height: 150px;
}
button{
    width: 50%;
    padding: 0.2rem 1rem;
    cursor: pointer;
}
button:hover{
    background-color: #b1aaaa;
}
/* @media screen and (max-width:800px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px ;
    } */
/* }  */